<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <% if (typeof title !== 'undefined' ) { %>
        <title><%- title %></title>
    <% } else { %>
        <title>untitled</title>
    <% } %>

    <link href="/assets/img/favicon.png" rel="icon">
    <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
</head>