<!-- Genre detail -->
<div class="row">
    <h1>Genre: <%= genre.name %></h1>

    <div class="mx-3 list-group list-group-flush">
        <h4>List books</h4>
        <% if(books.length > 0) { %>
            <% books.forEach(book => { %>
                <a href="<%= book.url %>" class="list-group-item list-group-item-action">
                    <h6 class="text-primary"><%= book.title %></h6>
                    <p><%= book.summary %></p>
                </a>
            <% }); %>
        <% }else { %>
            <p>There are no books.</p>
        <% } %>
    </div>

</div>
<!-- End Genre detail -->